@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111010;
  color: #F0EDE8;
}

main {
  padding: 96px 24px;
  max-width: 680px;
  margin: 0 auto;
}

p {
  margin-bottom: 24px;
  line-height: 1.8;
}